<ul class="list-group">
        <a class="list-group-item" *ngFor="let planet of listPlanet" href="#" [routerLink]="['../planet', planet.name]">
          {{planet.name}}
        </a>
</ul>
<div *ngIf="listPlanet.length == 0">
        Right now the list is empty, waiting for response
</div>